extends layout

block content
  div.Root 
    div.Profile-Content
      h1.Profile-Name Bjarni
      h2.Profile-Title Crypto
      div.Contact-Container 
        button.Contact-BTN Get in touch 
        div.Social-Container
          a.Social-Link
          div.Social-Logo
            a(href="https://www.facebook.com/bjarnie3")
                    img.imglogo(src="/img/facebook-gray.jpg", alt="facebook")
      div.Bio-Container 
        p <pre>My name is Bjarni, I´m 36 years old and I´m from Iceland, I have been in crypto world around 4 years, I´m far from to be pro in this business.
            | I have mostly been traiding Aur(AuraCoin) and SMLY(SmilyCoin) but it have take very long time to be something.<br/> 
            
            | What I start with is about: 
            <br/>

            | &gt; ISK 750.000
            | &gt; USD 6.183
            | &gt; GBP 4.362 
            | &gt; EUR 5.081
            <br/>
            
            | when I begun I start with 0.3 btc was traiding on Cryptopia and C-CEX exchange where I lost half of this amount what I had, this sites was hacked or some inside fraud/hacked.
            | Since then I have been on https://main.southxchange.com/ and I´m mostly traiding SMLY(SmilyCoin) over there, I have earned someting and have now about in btc 0.28 almost got what I start with ;)
            <br/>

            | Icelandic goverment are very strict for handicap to earn money, if you earn money then they will cut of your disability benefits,
            | and many times you lose money to work becouse of disability benefits. For crypto currentsy you may earn for year  
            <br/>
            
            | &gt; ISK 90.000 
            | &gt; USD 743,80
            | &gt; GBP 525,79
            | &gt; EUR 610,54
            <br/>

            | So how much do I need to live a good live in one of the most expensive country in the world, where goverment give shit in poor people and old people and hadicap people. 
            | To live a good life rest of my live and also so I can buy a house, I need to, to much money.
            <br/>

            | &gt; ISK 3.000.000.000 
            | &gt; USD 24.732.069
            | &gt; GBP 17.447.947
            | &gt; EUR 20.323.826
            <br/>

            | I´m not asking for much from people, but if you can spike/strengthen/help, (sorry not sure the word) me then you may send me optional contribution
            | to one of this account below.
            <br/>

            | &gt; Bitcoin:  bc1qtuu8mzpwvt34uc4kgjnjyfnwru4xft8w56y9lt<br/>
            | &gt; Litcoin:  Lfzh3PWCcbkaLm9g4cnqG7py2xJQdhPrxw<br/>
            | &gt; Etherium: bc1qtuu8mzpwvt34uc4kgjnjyfnwru4xft8w56y9lt<br/>
            | &gt; Uniswap: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Polkadot: 125M4jH3VfHKh7fZkfnDWbLvvqfaJTEiD6iQfFByRsXAw7m6<br/>
            | &gt; Cardano: addr1qxzghu8gkjryw3dsxu33dtdd06qs4nytpe8ssqgedv53kxuy30cw3dyxgazmqderz6k66l5pptxgkrj0pqq3j6efrvdsap0wgl<br/>
            | &gt; Paxos: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; DistrictOx: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Ox: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; 1inch: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Algorand: SWIYLVL3PJMHTRNVWTFAXSDBCB64XPKNA4S3Z6UK53KEUJOTGXFLOBRCYY<br/>
            | &gt; Amp: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Cosmos: cosmos1hj53sdtmqfzcsuq48kulnyjz7za62nw20j98uq<br/>
            | &gt; Dai: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Neo: ANqPMwXSE6MDErx2WivGMdZppw5b49kmqv<br/>
            | &gt; Ontology: AcKNBYcQ5b6jXC7mHYzfpF6Sh7HC4oKfbp<br/>
            | &gt; Polygon: 0x9d2bA1b38D84E4EF56A0aD4f1e3A18F8cB82Ba71<br/>
            | &gt; Solana: 6ZuP1VM3qxeoSgsg2xabC3iXmHyd215qxtNd912pSQS1<br/>
            | &gt; Tezos: tz1RQjzKP26sPYuKcSyyZeT6tFxMywvSDg8V<br/>
            | &gt; VeChain: 0x613f861149c7dC936f751373dCDbC315A1bE6606<br/>
            | &gt; XPR: r9CZY69c4MRwjRRiSxgca34XFVXwGg5LDr<br/>
            | &gt; DogeCoin: DRHxLcFaiSBKunioCrcMxdz58RSNEAb4R1</pre>       
    div.Image-Container
      img.img(href='www.facebook.com/bjarnie3', src="/img/me.jpg", alt="This is me")