extends layout

block content
  div.Root 
    div.Profile-Content
      h1.Profile-Name Bjarni
      h2.Profile-Title Crypto
      div.Contact-Container 
        button.Contact-BTN Get in touch 
        div.Social-Container
          a.Social-Link
          div.Social-Logo
            a(href="https://www.facebook.com/bjarnie3")
                    img.imglogo(src="/img/facebook-gray.jpg", alt="facebook")
      div.Bio-Container 
        p <pre>My name is Bjarni, I´m 36 years old and I´m from Iceland, I have been in crypto world around 4 years, I´m far from to be pro in this business.
            | I have mostly been traiding Aur(AuraCoin) and SMLY(SmilyCoin) but it have take very long time to be something.<br/> 
            
            | What I start with is about: 
            <br/>

            | &gt; ISK 750.000
            | &gt; USD 6.183
            | &gt; GBP 4.362 
            | &gt; EUR 5.081
            <br/>
            
            | when I begun I start with 0.3 btc was traiding on Cryptopia and another C-CEX exchange and I lost half of this amount what I had, this sites was hacked or some inside fraud/hacked.
            | Since then I have been on https://main.southxchange.com/ and I´m mostly traiding SMLY(SmilyCoin) over there, I have earned someting and have now about in btc 0.28 almost got what I start with ;).
            <br/>

            | Icelandic goverment are very strict for handicap to earn money, if you earn money then they will cut of your disability benefits,
            | and many times you lose money to work becouse of disability benefits. For crypto currentsy you may earn for year  
            <br/>
            
            | &gt; ISK 90.000 
            | &gt; USD 743,80
            | &gt; GBP 525,79
            | &gt; EUR 610,54
            <br/>

            | So how much Is I´m asking so I can live a good live in one of the most expensive country in the world, where goverment give shit 
            | in poor people and old people and hadicap people. To live a good life rest of my live and also so I can buy a house, I need to, to much money.
            <br/>

            | &gt; ISK 3.000.000.000 
            | &gt; USD 24.732.069
            | &gt; GBP 17.447.947
            | &gt; EUR 20.323.826
            <br/>

            | I´m not asking for much from people, but if you can spike/strengthen/help, (sorry not sure the word) me then you may send me optional contribution
            | to one of this account below.
            <br/>

            | &gt; Bitcoin:  bc1qlwsvxyhx3z0qmdcrjhwzm42r2k898pkawyf24h
            | &gt; Litcoin:  ltc1q92s58032k0p50k6cmrg0tpucfz3unhkg7ksh5j
            | &gt; Etherium: 0x4209BFDd7474Eb1E75331F1C3D2583d4Eb695FC6
            | &gt; DogeCoin: DTkz6spJBpeJJiLvZ48nsQPhyj3jYfb635</pre>  
    div.Image-Container
      img.img(href='www.facebook.com/bjarnie3', src="/img/me.jpg", alt="This is me")